
/*
 * W3 Colors:
 *
 * Aqua        = #00ffff;
 * Blue        = #2196f3;
 * Green       = #4caf50;
 * Dark Gray   = #616161;
 * Light Blue  = #87ceeb;
 * Light Green = #8bc34a;
 * Gray        = #9e9e9e;
 * Pale Green  = #ddffdd;
 * Red         = #f44336;
 * Light Gray  = #f1f1f1;
 * Orange      = #ff9800;
 * Amber       = #ffc107;
 * Yellow      = #ffeb3b;
 *
 * See https://www.w3schools.com/w3css/w3css_colors.asp.
 *
 * Notice Colors:
 *
 * Red    = #dc3232;
 * Yellow = #ffb900;
 * Blue   = #00a0d2;
 * Green  = #46b450;
 */

/*
 * WP Dashboard Widgets.
 */
#dashboard-widgets #wpsso-cache-status .postbox-header h2,
#dashboard-widgets #wpsso-help-support .postbox-header h2,
#dashboard-widgets #wpsso-version-info .postbox-header h2 {
	display:block;
}

#dashboard-widgets #wpsso-cache-status .postbox-header h2:before {
	font-family:"WpssoIcons";
	margin-right:10px;
	content:"\f1c0";	/* .icon-database */
}

#dashboard-widgets #wpsso-help-support .postbox-header h2:before {
	font-family:"WpssoIcons";
	margin-right:10px;
	content:"\f1cd";	/* .icon-lifebuoy */
}

#dashboard-widgets #wpsso-version-info .postbox-header h2:before {
	font-family:"WpssoIcons";
	margin-right:10px;
	content:"\e80b";	/* .icon-ok-circled */
}

#dashboard-widgets table.wpsso-dashboard-widget {
	width:100%;
	padding:0 8px 8px 0;	/* td are 2px 2px 2px 10px. */
}

#dashboard-widgets table.wpsso-dashboard-widget p {
	margin:10px 0;
}

#dashboard-widgets table.wpsso-dashboard-widget p.centered {
	text-align:center;
}

#dashboard-widgets table.wpsso-dashboard-widget p.status-msg,
#dashboard-widgets table.wpsso-dashboard-widget p.status-msg code {
	color:#999;
	font-size:0.95em;
	line-height:1.4em;
	text-align:center;
	margin:4px 0;
}

#dashboard-widgets table.wpsso-dashboard-widget p.status-msg.smaller,
#dashboard-widgets table.wpsso-dashboard-widget p.status-msg.smaller code {
	font-size:0.85em;
}

#dashboard-widgets table.wpsso-dashboard-widget h4 {
	font-weight:600;
	margin:10px 2px 5px 2px;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget h4 {
	margin-bottom:0;
}

#dashboard-widgets table.wpsso-dashboard-widget ul {
	margin:8px 0 16px 30px;
}

#dashboard-widgets table.wpsso-dashboard-widget th {
	font-weight:600;
}

#dashboard-widgets table.wpsso-dashboard-widget th,
body.rtl #dashboard-widgets table.wpsso-dashboard-widget td {
	text-align:right;
	vertical-align:top;
	padding:2px 10px 2px 2px;
}

#dashboard-widgets table.wpsso-dashboard-widget td,
body.rtl #dashboard-widgets table.wpsso-dashboard-widget th {
	text-align:left;
	vertical-align:top;
	padding:2px 2px 2px 10px;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-label {
	width:40%;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-count,
#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-size {
	width:15%;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-expiration {
	width:30%;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-label,
#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-count,
#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-size,
body.rtl #dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-expiration {
	text-align:right;
	padding:2px 2px 2px 10px;
}

#dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-expiration,
body.rtl #dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-label,
body.rtl #dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-count,
body.rtl #dashboard-widgets #wpsso-cache-status table.wpsso-dashboard-widget .cache-size {
	text-align:left;
	padding:2px 2px 2px 10px;
}

#dashboard-widgets #wpsso-version-info table.wpsso-dashboard-widget td.latest-notice {
	font-style:italic;
}

#dashboard-widgets #wpsso-version-info table.wpsso-dashboard-widget td.version-number.newer-version-available {
	background-color:#ffc107;	/* Amber. */
}

#dashboard-widgets #wpsso-version-info table.wpsso-dashboard-widget td.version-number.current-version-not-stable {
	background-color:#00a0d2;	/* Blue. */
}

#dashboard-widgets #wpsso-version-info table.wpsso-dashboard-widget td.version-number.current-version {
	background-color:#46b450;	/* Green. */
}

/*
 * WordPress edit list table.
 */
.wp-list-table.media .column-cb,
.wp-list-table.media .check-column {
	width:2%;
}

.wp-list-table th.column-secondary_title,
.wp-list-table td.column-secondary_title {
	width:15%;	/* secondary title plugin */
}

.wp-list-table th.column-sku,
.wp-list-table td.column-sku,
.wp-list-table th.column-is_in_stock,
.wp-list-table td.column-is_in_stock {
	width:6%;	/* woocommerce plugin */
}

.wp-list-table th.column-price,
.wp-list-table td.column-price {
	width:8%;	/* woocommerce plugin */
}

.wp-list-table th.column-categories,
.wp-list-table td.column-categories,
.wp-list-table th.column-tags,
.wp-list-table td.column-tags {
	width:12%;	/* default is 15% */
}

.wp-list-table th.column-language,
.wp-list-table td.column-language {
	width:8%;	/* qtranslate-x plugin */
}

.wp-list-table th.column-slug,
.wp-list-table td.column-slug {
	width:20%;	/* default is 25% */
}

.wp-list-table th.column-comments,
.wp-list-table td.column-comments {
	width:4%;
}

/*
 * WPSSO notices and qTip.
 */
#wpadminbar #wp-toolbar #wpsso-toolbar-notices-icon.ab-icon::before {
	content:"\e826";	/* .icon-orange-5 */
	font-family:"WpssoIcons";
}

.woocommerce-page .wpsso-notice.update-nag {
	margin:90px 20px 0 20px;
}

.sucom-tooltip {
	cursor:pointer;
	opacity:0.50;
	filter:alpha(opacity=50);	/* IE8 and earlier. */
	margin:0 0 0 6px;
}

body.rtl .sucom-tooltip {
	float:left;
	margin:0 6px 0 0;
}

.sucom-tooltip-icon::before {
	content:"\f29c";	/* .icon-question-circle-o */
	font-family:"WpssoIcons";
	font-size:1.2em;
	font-weight:normal;
}

body.rtl .qtip.sucom-qtip {
	direction:rtl;
}

body.rtl .qtip.sucom-qtip .qtip-content {
	text-align:right;
}

.qtip.sucom-qtip {
	max-width:600px;
}

.qtip.sucom-qtip .qtip-content {
	font-size:1.2em;
	line-height:1.5em;
	padding:15px 20px;
}

.wpsso-notice.update-nag,
.qtip.sucom-qtip.qtip-lime-green {
	color:#144e14;
	border:1px solid #46b450;	/* Green. */
	background-color:#ecf7ed;
}

.wpsso-notice.update-nag {
	border-left-color:#00a32a;
	border-left-width:4px;
}

.wpsso-notice.update-nag .notice-message a,
.qtip.sucom-qtip.qtip-lime-green a {
	color:#1f7e1f;
}

.wpsso-notice.update-nag .notice-message a,
.qtip.sucom-qtip .qtip-content a {
	text-decoration:underline;
}

.wpsso-notice.update-nag .notice-message a:active,
.wpsso-notice.update-nag .notice-message a:hover,
.qtip.sucom-qtip.qtip-lime-green a:active,
.qtip.sucom-qtip.qtip-lime-green a:hover {
	color:#279d27;
}

/*
 * Prevent Firefox from outlining links.
 */
.qtip.sucom-qtip .qtip-content a,
.qtip.sucom-qtip .qtip-content a:focus,
.qtip.sucom-qtip .qtip-content a:active {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.qtip.sucom-qtip .qtip-content code {
	font-family:"Courier", monospace;
	padding:2px 4px;
	margin:0;
	vertical-align:middle;
}

.qtip.sucom-qtip .qtip-content strong {
	font-weight:600;
}

.qtip.sucom-qtip .qtip-content ul {
	list-style:disc;
	margin-left:20px;
}

 .wpsso-notice.update-nag .notice-message {
	padding:10px 30px;
 }

.wpsso-notice.update-nag .notice-message p,
.wpsso-notice.update-nag .notice-message ul,
.wpsso-notice.update-nag .notice-message ol {
	margin:15px 0;
}

.wpsso-notice.update-nag .notice-message ul li {
	list-style-type:square;
}

.wpsso-notice.update-nag .notice-message ol li {
	list-style-type:decimal;
}

.wpsso-notice.update-nag .notice-message li {
	margin:5px 0 5px 60px;
}

/*
 * Input field and dashicon clipboard for settings pages and table lists.
 */
table td .no_input_clipboard .copy_button {
	float:right;
}

body.rtl table td .no_input_clipboard .copy_button {
	float:left;
}

table td .no_input_clipboard .copy_button a {
	display:inline-block;
	width:30px;
	height:30px;
	padding:0;
	margin:0;
	text-decoration:none;
	background-color:#eeeeee;
	border:1px solid #cccccc;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

table td .no_input_clipboard .copy_button a span.dashicons::before {
	display:inline-block;
	font-size:22px;
	line-height:26px;
	width:26px;
	height:26px;
	padding:2px;
	text-align:center;
	vertical-align:middle;
}

table td .no_input_clipboard .copy_text input {
	color:#555;
	margin:0;
	height:30px;
	background-color:#eeeeee;
	border:1px solid #cccccc;
	-webkit-border-radius:0;
	-khtml-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

table td .no_input_clipboard .copy_text {
	margin:0 60px 0 0;	/* Leave room for floating button. */
}

body.rtl table td .no_input_clipboard .copy_text {
	margin:0 0 0 60px;	/* Leave room for floating button. */
}

/*
 * WooCommerce changes their tabs to icons at 900px.
 * WordPress collapses the admin menu at 960px.
 * WordPress changes to larger icons at 782px.
 *
 * WPSSO uses @media max-width values of 1330px, 1200px, 960px, 782px, and 600px.
 */
@media screen and ( max-width:1200px ) {
	.wp-list-table.media .column-cb,
	.wp-list-table.media .check-column {
		width:3%;
	}
}

@media screen and ( max-width:782px ) {

	.wp-list-table.media .column-cb,
	.wp-list-table.media .check-column {
		width:6%;
	}
}

@media screen and ( max-width:600px ) {

	.wp-list-table.media .column-cb,
	.wp-list-table.media .check-column {
		width:10%;
	}
}

