
h1 > span.qualifier {
	opacity:0.20;
	filter:alpha(opacity=20);	/* IE8 and earlier. */
	font-weight:100;
}

h1 > div.dashicons-before {
	display:inline-block;
}

h1 > div.dashicons-before::before {
	vertical-align:baseline;
	width:auto;
	height:auto;
}

.wrap p {
	margin:15px 0;
}

.wrap div.updated p,
.wrap div.error p {
	margin:5px;
}

.wrap div.updated p strong {
	font-weight:normal;
}

.wrap #poststuff .inside {
	margin:0;
	padding:0;
}

.has-side-column {
	display:table		!important;
	visibility:visible	!important;
	width:100%;
}

.has-side-column #poststuff {
	display:table-cell	!important;
	visibility:visible	!important;
	vertical-align:top;
	width:100%;
}

#side-column {
	display:table-cell	!important;
	visibility:visible	!important;
	vertical-align:top;
	width:245px;
	min-width:245px;
	padding:0 0 10px 20px;
}

#side-column table.side-box {
	display:block		!important;
	visibility:visible	!important;
	padding:0;
	margin:0 0 20px 0;
	width:245px;
	min-width:245px;
	min-height:50px;
}

#side-column .side-box-header h2 {
	margin:0 0 10px 0;
}

#side-column .side-box-icon {
	text-align:center;
	margin:10px 0;
}

#side-column .side-box-content {
	margin:10px 0;
}

#side-column .side-box-content ul {
	list-style-type:disc;
	margin:10px 0 10px 20px;
}

#side-column .side-box-content ul li {
	margin-bottom:10px;
}

#side-column .side-box-buttons {
	margin:10px 0;
}

#side-column .button-primary,
#side-column .button-secondary {
	width:100%;
	margin:5px 0;
}

.postbox p {
	color:#222;
}

.closed {
	height:auto;
	min-height:0;
}

.postbox.closed .hndle {
	border-bottom:none;
}

.display_options_info {
	float:right;
	font-size:0.6em;
	margin:5px 10px;
}

.follow-icons {
	text-align:center;
	margin:0 0 15px 0;
	width:100%;
}

.follow-icons img {
	vertical-align:middle;
	margin:0 2px;
}

.button-error,
.button-secondary.button-error {
	color:#ffffff;
	border-color:#990000;
	background-color:#ee0000;
	padding:0 10px;
}

.button-error:hover,
.button-secondary.button-error:hover {
	color:#ffffff;
	background-color:#dd0000;
}

.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.btn_wizard_column {
	white-space:nowrap;
}

.btn_wizard_example {
	display:inline-block;
	width:136px;
	padding:1px;
}

.btn_wizard_example input[type=radio] {
	vertical-align:middle;
}

.btn_wizard_example img {
	vertical-align:middle;
	max-height:18px;
}

#wpbody-content {
	padding-bottom:20px;
}

#wpfooter {
	display:none;
}

.admin-footer-ext,
.admin-footer-host {
	display:block;
	font-size:0.9em;
	opacity:0.5;
	filter:alpha(opacity=50);	/* IE8 and earlier. */
}

.admin-footer-ext {
	float:left;
	text-align:left;
}

.admin-footer-host {
	float:right;
	text-align:right;
}

div.submit-buttons {
	position:fixed;
	left:0;
	bottom:0;
	width:calc(100% - 204px);
	min-width:761px;	/* Match #poststuff. */
	margin-left:182px;
	text-align:center;
	background-color:#fff;
	border:1px solid #c3c4c7;
}

div.has-side-column div.submit-buttons {
	width:calc(100% - 469px);
}

body.folded div.submit-buttons {
	width:calc(100% - 80px);
	margin-left:58px;
}

body.folded div.has-side-column div.submit-buttons {
	width:calc(100% - 345px);
}

div.submit-buttons .button-primary,
div.submit-buttons .button-secondary {
	margin:5px;
	min-width:280px;
}

div.submit-buttons form {
	margin:5px;
}

div.submit-buttons form .button-primary,
div.submit-buttons form .button-secondary {
	margin:0;
}

div.submit-buttons .button-highlight {
	color:#006189;
	border-color:#0086bc;
	background-color:#daeefc;
}

div.submit-buttons .button-highlight:hover {
	border-color:#004f6f;
	background-color:#c8e6fb;
}

div.submit-buttons .button-alt {
	color:#646464;
	border-color:#afafaf;
	background-color:#ededed;
}

div.submit-buttons .button-alt:hover {
	border-color:#959595;
	background-color:#f7f7f7;
}

/*
 * Tools and Actions page.
 */
body.sso-social-and-search-optimization_page_wpsso-tools #wpbody-content {
	padding-bottom:55px;
}

body.sso-social-and-search-optimization_page_wpsso-tools #wpfooter {
	display:block;
}

#tools-content div.submit-buttons {
	position:static;
	left:auto;
	bottom:auto;
	width:auto;
	margin:20px 0;
	text-align:left;
	background-color:inherit;
	border:none;
}

body.rtl #tools-content div.submit-buttons {
	text-align:right;
}

#tools-content div.submit-buttons input[type=submit],
#tools-content div.submit-buttons input[type=button] {
	display:block;
	min-width:360px;
	margin:5px 0;
}

#tools-content div.submit-buttons form {
	margin:5px 0;
}

#tools-content div.submit-buttons form .button-primary,
#tools-content div.submit-buttons form .button-secondary {
	margin:0;
}

#tools-content div.submit-buttons form input[type=file] {
	color:#646464;
	font-size:13px;
	line-height:26px;
	height:28px;
	padding:0;
	margin:0 5px;
}

#tools-content p.status-msg,
#tools-content p.status-msg code {
	color:#999;
	font-size:0.95em;
	line-height:1.4em;
	text-align:center;
	margin:4px 0;
}

#tools-content p.status-msg.smaller,
#tools-content p.status-msg.smaller code {
	font-size:0.85em;
}

#tools-content p.left {
	text-align:left;
}

body.rtl #tools-content p.left {
	text-align:right;
}

/*
 * Add Person page.
 */
#poststuff #post-body-content #add-person-content h2 {
	font-size:1.3em;
	margin:1em 0;
	padding:0;
}

#add-person-content .form-table textarea {
	width:500px;
	margin-bottom:6px;
}

/*
 * WooCommerce changes their tabs to icons at 900px.
 * WordPress collapses the admin menu at 960px.
 * WordPress changes to larger icons at 782px.
 *
 * WPSSO uses @media max-width values of 1330px, 1200px, 960px, 782px, and 600px.
 */
@media screen and ( max-width:1330px ) {
}

@media screen and ( max-width:1200px ) {	/* Move the side info boxes below the metaboxes. */

	.has-side-column {
		display:block !important;
	}

	.has-side-column #poststuff {
		display:block !important;
	}

	div.submit-buttons,
	div.has-side-column div.submit-buttons {
		width:calc(100% - 204px);
		margin-left:182px;
	}

	body.folded div.submit-buttons,
	body.folded div.has-side-column div.submit-buttons {
		width:calc(100% - 80px);
		margin-left:58px;
	}

	#side-column {
		display:block !important;
		width:100%;
		padding:0 0 40px 0;
	}

	#side-column table.side-box {
		width:50%;
		min-width:50%;
		margin:0 auto;	/* Center the side box. */
		padding:0;
	}

	#side-column .side-box-header h2 {
		text-align:center;
	}

	#side-column .side-box-content p {
		text-align:center;
	}
}

@media screen and ( max-width:960px ) {

	#side-column table.side-box {
		width:60%;
		min-width:60%;
	}

	div.submit-buttons,
	div.has-side-column div.submit-buttons,
	body.folded div.submit-buttons,
	body.folded div.has-side-column div.submit-buttons {
		width:calc(100% - 80px);
		margin-left:58px;
	}
}

@media screen and ( max-width:850px ) {

	#side-column table.side-box {
		width:70%;
		min-width:70%;
	}

	div.submit-buttons {
		min-width:0;	/* Match #poststuff. */
	}
}

@media screen and ( max-width:782px ) {

	#side-column table.side-box {
		width:80%;
		min-width:80%;
	}

	div.submit-buttons,
	div.has-side-column div.submit-buttons,
	body.folded div.submit-buttons,
	body.folded div.has-side-column div.submit-buttons {
		width:calc(100% - 24px);
		margin-left:10px;
	}
}

