
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-export:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-cloud:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-barcode:before { content: '\e80f'; } /* '' */
.icon-basket:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-gift:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e813'; } /* '' */
.icon-upload-bar:before { content: '\e814'; } /* '' */
.icon-download-bar:before { content: '\e815'; } /* '' */
.icon-css:before { content: '\e816'; } /* '' */
.icon-help-circled:before { content: '\e817'; } /* '' */
.icon-comment:before { content: '\e818'; } /* '' */
.icon-th-large:before { content: '\e819'; } /* '' */
.icon-th:before { content: '\e81a'; } /* '' */
.icon-thumbs-down:before { content: '\e81b'; } /* '' */
.icon-group:before { content: '\e81c'; } /* '' */
.icon-flight:before { content: '\e81d'; } /* '' */
.icon-robot-4:before { content: '\e81e'; } /* '' */
.icon-help-circled-alt:before { content: '\e81f'; } /* '' */
.icon-info-circled:before { content: '\e820'; } /* '' */
.icon-ok:before { content: '\e821'; } /* '' */
.icon-star-empty:before { content: '\e822'; } /* '' */
.icon-star-half:before { content: '\e823'; } /* '' */
.icon-eye-off:before { content: '\e824'; } /* '' */
.icon-cog:before { content: '\e825'; } /* '' */
.icon-orange-5:before { content: '\e826'; } /* '' */
.icon-flag:before { content: '\e827'; } /* '' */
.icon-calendar:before { content: '\e828'; } /* '' */
.icon-th-list:before { content: '\e829'; } /* '' */
.icon-briefcase:before { content: '\e82a'; } /* '' */
.icon-flash:before { content: '\e82b'; } /* '' */
.icon-link:before { content: '\e82c'; } /* '' */
.icon-resize-full:before { content: '\e82d'; } /* '' */
.icon-flow-split:before { content: '\e82e'; } /* '' */
.icon-mobile:before { content: '\e82f'; } /* '' */
.icon-book:before { content: '\e830'; } /* '' */
.icon-pin:before { content: '\e831'; } /* '' */
.icon-tag:before { content: '\e832'; } /* '' */
.icon-tags:before { content: '\e833'; } /* '' */
.icon-pencil:before { content: '\e834'; } /* '' */
.icon-globe-alt:before { content: '\e835'; } /* '' */
.icon-globe:before { content: '\e836'; } /* '' */
.icon-adult:before { content: '\e837'; } /* '' */
.icon-orange-6:before { content: '\e838'; } /* '' */
.icon-dashicons-shield:before { content: '\e839'; } /* '' */
.icon-dashicons-sos:before { content: '\e83a'; } /* '' */
.icon-dashicons-shield-alt:before { content: '\e83b'; } /* '' */
.icon-robot-5:before { content: '\e83c'; } /* '' */
.icon-cancel-circled:before { content: '\e83d'; } /* '' */
.icon-cancel-circled2:before { content: '\e83e'; } /* '' */
.icon-download-tray:before { content: '\f02e'; } /* '' */
.icon-upload-tray:before { content: '\f02f'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-map-pin:before { content: '\f276'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-spinner2:before { content: '\f529'; } /* '' */
